<section class="banner wrapper__full pseudo-full-width-background">
    <div class="banner__items">
        <div class="banner__item">
            <img src="assets/images/banner/banner1.jpg" srcset="assets/images/banner/banner1_2x.jpg 2x, assets/images/banner/banner1_3x.jpg 3x" alt="" class="banner__img">

            <div class="banner__wrapper">
                <div class="banner__content">
                    <h2 class="banner__title">Прокачай <br> свои знания в IT</h2>
                    <p class="banner__text">Получи бесценный опыт от лучших преподавателей страны, <br> стань настоящим профессионалом в своём деле!</p>
                    <a href="#" class="banner__link link" title="Принять участие">
                        <span class="btn banner__btn">Принять участие</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="banner__item">
            <img src="assets/images/banner/banner1.jpg" srcset="assets/images/banner/banner1_2x.jpg 2x, assets/images/banner/banner1_3x.jpg 3x" alt="" class="banner__img">

            <div class="banner__wrapper">
                <div class="banner__content">
                    <h2 class="banner__title">Прокачай <br> свои знания в IT</h2>
                    <p class="banner__text">Получи бесценный опыт от лучших преподавателей страны, <br> стань настоящим профессионалом в своём деле!</p>
                    <a href="#" class="banner__link link" title="Принять участие">
                        <span class="btn banner__btn">Принять участие</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="banner__item">
            <img src="assets/images/banner/banner1.jpg" srcset="assets/images/banner/banner1_2x.jpg 2x, assets/images/banner/banner1_3x.jpg 3x" alt="" class="banner__img">

            <div class="banner__wrapper">
                <div class="banner__content">
                    <h2 class="banner__title">Прокачай <br> свои знания в IT</h2>
                    <p class="banner__text">Получи бесценный опыт от лучших преподавателей страны, <br> стань настоящим профессионалом в своём деле!</p>
                    <a href="#" class="banner__link link" title="Принять участие">
                        <span class="btn banner__btn">Принять участие</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>