<section class="education wrapper">
    <h2 class="section-heading education__section-heading">Чему учат в нашей школе</h2>
    <div class="education__cards">

        <article class="education__card card">
            <a href="#img" class="card__img" title="">
                <img src="assets/images/web-development-course.jpg" alt="" title="Профессиональная вёрстка макетов"></a>
            <h4 class="card__title">
                <a href="#title" title="Профессиональная вёрстка макетов">Профессиональная вёрстка макетов</a>
            </h4>
            <p class="card__text">Освойте проферссию верстальщика,
                изучив такие технологие как HTML, CSS и JS</p>
            <a href="#link" class="link card__link" title="Смотреть курсы направления">
                <span class="card__link_text">Смотреть курсы направления</span>
            </a>
            <a href="#label" class="label education__label" title="Профессия верстальщик">профессия верстальщик</a>
        </article>

        <article class="education__card card">
            <a href="#" class="card__img" title=""><img src="assets/images/web-development-course.jpg" alt="" title="Профессиональная вёрстка макетов"></a>
            <h4 class="card__title">
                <a href="#" title="Профессиональная вёрстка макетов">Профессиональная вёрстка макетов</a>
            </h4>
            <p class="card__text">Освойте проферссию верстальщика,
                изучив такие технологие как HTML, CSS и JS
                Освойте проферссию верстальщика,
                изучив такие технологие как HTML, CSS и JSОсвойте проферссию верстальщика,
                изучив такие технологие как HTML, CSS и JS
                Освойте проферссию верстальщика,
                изучив такие технологие как HTML, CSS и JS</p>
            <a href="#" class="link card__link" title="Смотреть курсы направления">
                <span class="card__link_text">Смотреть курсы направления</span>
            </a>
            <a href="#" class="label education__label" title="Профессия верстальщик">профессия верстальщик</a>
        </article>

        <article class="education__card card">
            <a href="#" class="card__img" title=""><img src="assets/images/web-development-course.jpg" alt="" title="Профессиональная вёрстка макетов"></a>
            <h4 class="card__title">
                <a href="#" title="Профессиональная вёрстка макетов">Профессиональная вёрстка макетов</a>
            </h4>
            <p class="card__text">Освойте проферссию верстальщика,
                изучив такие технологие как HTML, CSS и JS</p>
            <a href="#" class="link card__link" title="Смотреть курсы направления">
                <span class="card__link_text">Смотреть курсы направления</span>
            </a>
            <a href="#" class="label education__label" title="Профессия верстальщик">профессия верстальщик</a>
        </article>

        <article class="education__card card">
            <a href="#" class="card__img" title=""><img src="assets/images/web-development-course.jpg" alt="" title="Профессиональная вёрстка макетов"></a>
            <h4 class="card__title">
                <a href="#" title="Профессиональная вёрстка макетов">Профессиональная вёрстка макетов</a>
            </h4>
            <p class="card__text">
                Освойте проферссию верстальщика,
                изучив такие технологие как HTML, CSS и JS
                Освойте проферссию верстальщика,
                изучив такие технологие как HTML, CSS и JS
            </p>
            <a href="#" class="link card__link" title="Смотреть курсы направления">
                <span class="card__link_text">Смотреть курсы направления</span>
            </a>
            <a href="#" class="label education__label" title="Профессия верстальщик">профессия верстальщик</a>
        </article>

        <article class="education__card card">
            <a href="#" class="card__img" title=""><img src="assets/images/web-development-course.jpg" alt="" title="Профессиональная вёрстка макетов"></a>
            <h4 class="card__title">
                <a href="#" title="Профессиональная вёрстка макетов">Профессиональная вёрстка макетов</a>
            </h4>
            <p class="card__text">Освойте проферссию верстальщика,
                изучив такие технологие как HTML, CSS и JS</p>
            <a href="#" class="link card__link" title="Смотреть курсы направления">
                <span class="card__link_text">Смотреть курсы направления</span>
            </a>
            <a href="#" class="label education__label" title="Профессия верстальщик">профессия верстальщик</a>
        </article>

        <article class="education__card card">
            <a href="#" class="card__img" title=""><img src="assets/images/web-development-course.jpg" alt="" title="Профессиональная вёрстка макетов"></a>
            <h4 class="card__title">
                <a href="#" title="Профессиональная вёрстка макетов">Профессиональная вёрстка макетов</a>
            </h4>
            <p class="card__text">Освойте проферссию верстальщика,
                изучив такие технологие как HTML, CSS и JS</p>
            <a href="#" class="link card__link" title="Смотреть курсы направления">
                <span class="card__link_text">Смотреть курсы направления</span>
            </a>
            <a href="#" class="label education__label" title="Профессия верстальщик">профессия верстальщик</a>
        </article>

    </div>
</section>