<footer class="footer wrapper pseudo-full-width-background">

    <ul class="footer__menu">
        <li class="footer__menu_item active"><a href="#" class="link footer__menu_link">Главная</a></li>
        <li class="footer__menu_item"><a href="#" class="link footer__menu_link">Курсы</a></li>
        <li class="footer__menu_item"><a href="#" class="link footer__menu_link">Блог</a></li>
        <li class="footer__menu_item"><a href="#" class="link footer__menu_link">Контакты</a></li>
        <li class="footer__menu_item"><a href="#" class="link footer__menu_link">Тесты</a></li>
        <li class="footer__menu_item"><a href="#" class="link footer__menu_link">Бесплатные материалы</a></li>
    </ul>

<div class="footer__inner">
        <a href="#" class="logo footer__logo" title="Школа современных технологий">

            <svg class="logo__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 242.41 225.71">
                <use xlink:href="assets/img/svg/svg-symbols.svg#logowhite"></use>
            </svg>
            <span class="logo__text">Школа <br> современных <br> технологий</span>
        </a>

    <div class="footer__socialPhone">
        <div class="footer__social">
            <a href="#" class="footer__social_link" title="В контакте">
                <svg class="footer__social_img footer__social_img-vk" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 161 92">
                    <use xlink:href="assets/img/svg/svg-symbols.svg#vk"></use>
                </svg>
            </a>
            <a href="#" class="footer__social_link" title="Twitter">
                <svg class="footer__social_img footer__social_img-twitter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 69 92">
                     <use xlink:href="assets/img/svg/svg-symbols.svg#twitter"></use>
               </svg>
            </a>
            <a href="#" class="footer__social_link" title="Facebook">
                <svg class="footer__social_img footer__social_img-facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 92">
                    <use xlink:href="assets/img/svg/svg-symbols.svg#fb"></use>
                </svg>
            </a>
        </div>
        <address class="phone footer__phone">
            <svg class="phone__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 23">
                <use xlink:href="assets/img/svg/svg-symbols.svg#call"></use>
            </svg>
            <a href="tel:+88005002063" class="link phone__link" title="Заказать обратный звонок">
                8 800-500-20-63 <br>
                <span class="phone__text">заказать обратный звонок</span>
            </a>
        </address>
    </div>
</div>
    <div class="footer__copyright">
        <small class="footer__copyright_text">&copy; Школа современных технологий, 2011-2017</small>
        <p>
            <a href="#" class="link footer__copyright_link" title="Пользовательское соглашение">
                <span class="footer__copyright_link-inner">Пользовательское соглашение</span>
            </a>
        <a href="#" class="link footer__copyright_link" title="Политика конфиденциальности">
            <span class="footer__copyright_link-inner">Политика конфиденциальности</span>
        </a>
        </p>
    </div>
    <div class="scroll-to-top">
        <svg class="scroll-to-top__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 70">
            <use xlink:href="assets/img/svg/svg-symbols.svg#arrow_up"></use>
        </svg>
    </div>
</footer>