<header class="header wrapper pseudo-full-width-background">

    <div class="header__inner">

        <a href="#" class="logo header__logo" title="Школа современных технологий">

            <svg class="logo__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 242.41 225.71">
                <use xlink:href="assets/img/svg/svg-symbols.svg#logowhite"></use>
            </svg>
            <span class="logo__text">Школа современных <br> технологий</span>
        </a>

        <div class="toggle-btn" title="Меню">
            <svg class="toggle-btn__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0  130 108.56">
                <use xlink:href="assets/img/svg/svg-symbols.svg#menu"></use>
            </svg>
        </div>

        <address class="phone header__phone">
            <svg class="phone__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <use xlink:href="assets/img/svg/svg-symbols.svg#phone"></use>
            </svg>
            <a href="tel:+88005002063" class="link phone__link" title="Заказать обратный звонок">
                8 800-500-20-63 <br>
                <span class="phone__text">заказать обратный звонок</span>
            </a>
        </address>

        <div class="header__loginSearch">

            <div class="login header__login ">
                <a href="#" class="login__link" title="Войти в личный кабинет">Вход / Регистрация
                <svg class="login__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <use xlink:href="assets/img/svg/svg-symbols.svg#user"></use>
                </svg>
                </a>
            </div>

            <form method="get" class="search header__search">
                <input title="Поиск" type="search" id="search" name="search" class="search__input"
                       placeholder="Введите поисковую фразу">
                <label for="search" class="search__button" title="Поиск">
                    <svg class="search__button_img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <use xlink:href="assets/img/svg/svg-symbols.svg#search"></use>
                    </svg>
                </label>
            </form>

        </div>

    </div>

</header>