<div class="overlay"></div>
<div class="mobile__menu">
    <ul class="mobile__menu_list">
    <li class="mobile__menu_item">
        <a href="#" class="link mobile__menu_link">Главная</a>
    </li>
    <li class="mobile__menu_item mobile__menu_item-dropdown">
        <a href="#" class="link mobile__menu_link">Курсы</a>
        <div class="mobile__submenu">
            <p class="mobile__submenu_back">Назад</p>
            <ul class="mobile__submenu_list">

                <li class="mobile__submenu_column">
                    <ul>
                        <li class="mobile__submenu_column-header">Web-Программирование</li>
                        <li class="mobile__submenu_column-item"><a href="" class="mobile__submenu_column-link">PHP
                            Уровень 1</a>
                        </li>
                        <li class="mobile__submenu_column-item"><a href="" class="mobile__submenu_column-link">PHP
                            Уровень 2</a>
                        </li>
                        <li class="mobile__submenu_column-item"><a href="" class="mobile__submenu_column-link">PHP
                            Уровень 3</a>
                        </li>
                        <li class="mobile__submenu_column-item"><a href="" class="mobile__submenu_column-link">PHP
                            Уровень 4</a>
                        </li>
                    </ul>
                </li>

                <li class="mobile__submenu_column">
                    <ul>
                        <li class="mobile__submenu_column-header">Web-Дизайн</li>
                        <li class="mobile__submenu_column-item"><a href="" class="mobile__submenu_column-link">CSS Уровень 1</a>
                        </li>
                        <li class="mobile__submenu_column-item"><a href="" class="mobile__submenu_column-link">CSS Уровень 2</a>
                        </li>
                        <li class="mobile__submenu_column-item"><a href="" class="mobile__submenu_column-link">CSS Уровень 3</a>
                        </li>
                    </ul>
                </li>

                <li class="mobile__submenu_column">
                    <ul>
                        <li class="mobile__submenu_column-header">Web-Верстка</li>
                        <li class="mobile__submenu_column-item"><a href="" class="mobile__submenu_column-link">HTML
                            Уровень 1</a>
                        </li>
                        <li class="mobile__submenu_column-item"><a href="" class="mobile__submenu_column-link">HTML
                            Уровень 2</a>
                        </li>
                        <li class="mobile__submenu_column-item"><a href="" class="mobile__submenu_column-link">HTML
                            Уровень 3</a>
                        </li>
                    </ul>
                </li>

                <li class="mobile__submenu_column">
                    <ul>
                        <li class="mobile__submenu_column-header">Web-Программирование</li>
                        <li class="mobile_submenu_column-item"><a href="" class="mobile__submenu_column-link">PHP
                            Уровень 1</a>
                        </li>
                        <li class="mobile__submenu_column-item"><a href="" class="mobile__submenu_column-link">PHP
                            Уровень 2</a>
                        </li>
                        <li class="mobile__submenu_column-item"><a href="" class="mobile__submenu_column-link">PHP
                            Уровень 3</a>
                        </li>
                        <li class="mobile__submenu_column-item"><a href="" class="mobile__submenu_column-link">PHP
                            Уровень 4</a>
                        </li>
                    </ul>
                </li>

                <li class="mobile__submenu_column">
                    <ul>
                        <li class="mobile__submenu_column-header">Web-Дизайн</li>
                        <li class="mobile__submenu_column-item"><a href="" class="mobile__submenu_column-link">CSS
                            Уровень 1</a>
                        </li>
                        <li class="mobile__submenu_column-item"><a href="" class="mobile__submenu_column-link">CSS
                            Уровень 2</a>
                        </li>
                        <li class="mobile__submenu_column-item"><a href="" class="mobile__submenu_column-link">CSS
                            Уровень 3</a>
                        </li>
                    </ul>
                </li>
                <li class="allCurs">
                    <a href="" class="link allCurs__link" title="Смотреть все курсы">Смотреть все курсы на отдельной странице с
                        фильтрами</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="mobile__menu_item">
    <a href="#" class="link mobile__menu_link">Блог</a>
    </li>
    <li class="mobile__menu_item">
    <a href="#" class="link mobile__menu_link">Контакты</a>
    </li>
    <li class="mobile__menu_item">
    <a href="#" class="link mobile__menu_link">Тесты</a>
    </li>
    <li class="mobile__menu_item">
    <a href="#" class="link mobile__menu_link">Бесплатные материалы</a>
    </li>
    </ul>
    <ul class="mobile__menu_list">
    <li class="mobile__menu_item">
    <a href="#" class="link mobile__menu_link">Вход / Регистрация</a>
    </li>
    </ul>

</div>