<nav class="nav">
    <div class="nav__wrapper">
        <ul class="nav__menu">
            <li class="nav__menu_item active">
                <a href="#" class="nav__menu_link">Главная
                </a>
            </li>
            <li class="nav__menu_item nav__menu_item-dropdown">
                <a href="#" class="nav__menu_link">Курсы
                    <svg class="nav__menu_link-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 436.69 265.02">
                        <use xlink:href="assets/img/svg/svg-symbols.svg#arrow_down"></use>
                    </svg>
                </a>
                <div class="submenu__block">
                    <ul class="nav__submenu nav__wrapper">

                        <li class="nav__submenu_column">
                            <ul>
                                <li class="nav__submenu_column-header">Web-Программирование</li>
                                <li class="nav__submenu_column-item"><a href="" class="nav__submenu_column-link">PHP
                                    Уровень 1</a>
                                </li>
                                <li class="nav__submenu_column-item"><a href="" class="nav__submenu_column-link">PHP
                                    Уровень 2</a>
                                </li>
                                <li class="nav__submenu_column-item"><a href="" class="nav__submenu_column-link">PHP
                                    Уровень 3</a>
                                </li>
                                <li class="nav__submenu_column-item"><a href="" class="nav__submenu_column-link">PHP
                                    Уровень 4</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav__submenu_column">
                            <ul>
                                <li class="nav__submenu_column-header">Web-Дизайн</li>
                                <li class="nav__submenu_column-item"><a href="" class="nav__submenu_column-link">CSS
                                    Уровень 1</a>
                                </li>
                                <li class="nav__submenu_column-item"><a href="" class="nav__submenu_column-link">CSS
                                    Уровень 2</a>
                                </li>
                                <li class="nav__submenu_column-item"><a href="" class="nav__submenu_column-link">CSS
                                    Уровень 3</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav__submenu_column">
                            <ul>
                                <li class="nav__submenu_column-header">Web-Верстка</li>
                                <li class="nav__submenu_column-item"><a href="" class="nav__submenu_column-link">HTML
                                    Уровень 1</a>
                                </li>
                                <li class="nav__submenu_column-item"><a href="" class="nav__submenu_column-link">HTML
                                    Уровень 2</a>
                                </li>
                                <li class="nav__submenu_column-item"><a href="" class="nav__submenu_column-link">HTML
                                    Уровень 3</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav__submenu_column">
                            <ul>
                                <li class="nav__submenu_column-header">Web-программирование</li>
                                <li class="nav__submenu_column-item"><a href="" class="nav__submenu_column-link">PHP
                                    Уровень 1</a>
                                </li>
                                <li class="nav__submenu_column-item"><a href="" class="nav__submenu_column-link">PHP
                                    Уровень 2</a>
                                </li>
                                <li class="nav__submenu_column-item"><a href="" class="nav__submenu_column-link">PHP
                                    Уровень 3</a>
                                </li>
                                <li class="nav__submenu_column-item"><a href="" class="nav__submenu_column-link">PHP
                                    Уровень 4</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav__submenu_column">
                            <ul>
                                <li class="nav__submenu_column-header">Web-Дизайн</li>
                                <li class="nav__submenu_column-item"><a href="" class="nav__submenu_column-link">CSS
                                    Уровень 1</a>
                                </li>
                                <li class="nav__submenu_column-item"><a href="" class="nav__submenu_column-link">CSS
                                    Уровень 2</a>
                                </li>
                                <li class="nav__submenu_column-item"><a href="" class="nav__submenu_column-link">CSS
                                    Уровень 3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="allCurs">
                            <a href="#" class="link allCurs__link">Смотреть все курсы на отдельной странице с
                                фильтрами</a>
                        </li>

                        <li class="subMenuClose">&#10006;</li>

                    </ul>
                </div>
            </li>
            <li class="nav__menu_item">
                <a href="#" class="nav__menu_link">Блог
                </a>
            </li>
            <li class="nav__menu_item">
                <a href="#" class="nav__menu_link">Контакты
                </a>
            </li>
            <li class="nav__menu_item">
                <a href="#" class="nav__menu_link">Тесты
                </a>
            </li>
            <li class="nav__menu_item">
                <a href="#" class="nav__menu_link">Бесплатные материалы
                </a>
            </li>

        </ul>
    </div>
</nav>