<section class="partners block wrapper pseudo-full-width-background">

    <h2 class="section-heading partners__section-heading">Наши партнёры</h2>

    <div class="partners__slider">
        <div class="partners__sliderArrow partners__sliderArrow-prev"></div>
        <div class="partners__sliderArrow partners__sliderArrow-next"></div>

        <div class="partners__links">

            <a href="#" class="partners__link" title="">
                <img src="assets/images/partners/jetbrains.png" class="partners__img" alt="" title="Jet Brains">
            </a>
            <a href="#" class="partners__link" title="">
                <img src="assets/images/partners/colibri.png" class="partners__img" alt="" title="Colibri">
            </a>

            <a href="#" class="partners__link" title="">
                <img src="assets/images/partners/pruffme.png" class="partners__img" alt="" title="Pruff Me">
            </a>
            <a href="#" class="partners__link" title="">
                <img src="assets/images/partners/itping.png" class="partners__img itping" alt="" title="It-Ping">
            </a>

        </div>

    </div>

</section>