<div class="promo wrapper pseudo-full-width-background">
    <div class="promo__inner">
        <div class="promo__content">
            <img class="promo__img" src="assets/images/promo.png" alt="" title="Акция">
            <p class="promo__text">Уникальное предложение этого месяца <br> Пройди курс - «Основы PHP» совершенно бесплатно</p>
        </div>
        <a href="#" class="promo__link" title="Узнай подробности">
            <span class="promo__btn btn">Узнать подробности</span>
        </a>
    </div>
</div>