<section class="sertificats">

    <div class="sertificats__title">
        <h2 class="section-heading sertificats__section-headin">Сертификаты об окончании курсов</h2>
    </div>

    <div class="sertificats__content wrapper pseudo-full-width-background">
        <div class="sertificats__inner">
        <a href="#" class="sertificats__img" title="">
            <img src="assets/images/sertificat.png" alt="" title="Сертификат">
        </a>

        <div class="sertificats__text">
            <p>
                Увеличьте свои шансы на успешный старт и развитие карьеры, получив после прохождения курса уникальный сертификат. Учеба у нас, благодаря которой вы научитесь применять свои знания на практике, и получение сертификата Школы Современных Технологий позволяют легко войти в сферу веб-разработки, интернет-маркетинга, веб-дизайна, seo и разработки мобильных приложений.
            </p>
            <p>
                Каждый сертификат имеет уникальный номер, благодаря которому ваш потенциальный работодатель может убедиться в том, что сертификат принадлежит именно вам.
            </p>
        </div>
        </div>
    </div>
</section>