<section class="stats-block block wrapper pseudo-full-width-background">
    <div class="stats-block__items">

        <div class="stats-block__item">
            <svg class="stats-block__item_img stats-block__item_img-book" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 43.62">
                <use xlink:href="assets/img/svg/svg-symbols.svg#book"></use>
            </svg>
            <div class="stats-block__item_content">
                <h4 class="stats-block__item_text">Проходят курсы сейчас</h4>
                <p class="stats-block__item_count">1 247</p>
            </div>
        </div>

        <div class="stats-block__item">
            <svg class="stats-block__item_img stats-block__item_img-sertif" xmlns="http://www.w3.org/2000/svg" viewBox="0 0  38 46">
                <use xlink:href="assets/img/svg/svg-symbols.svg#sertif"></use>
            </svg>
            <div class="stats-block__item_content">
                <h4 class="stats-block__item_text">Сертификатов выдано</h4>
                <p class="stats-block__item_count">8 207</p>
            </div>
        </div>

        <div class="stats-block__item">
            <svg class="stats-block__item_img stats-block__item_img-cup" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 50">
                <use xlink:href="assets/img/svg/svg-symbols.svg#cup"></use>
            </svg>
            <div class="stats-block__item_content">
                <h4 class="stats-block__item_text">Завершено курсов</h4>
                <p class="stats-block__item_count">1 547</p>
            </div>
        </div>

    </div>
</section>