<section class="teachers block wrapper">
        <h2 class="section-heading teachers__section-heading">Наши преподаватели</h2>
   <div class="teachers__list">

       <article class="teachers__item teacher">
           <a href="#" class="teacher__img" title="">
               <img src="assets/images/teacher-Lavrik.png" alt="" class="" title="Дмитрий Лаврик">
           </a>
           <div class="teacher__content">
               <h4 class="teacher__title">
                   <a href="#" title="">Дмитрий Лаврик</a>
               </h4>
               <p class="teacher__text">
                   Программист, каким-то чудом не потерявший умение объяснять материал на человеческом языке. С 2011 года под его руководством тысячи учеников прошли путь от новичков до успешных веб-программистов.
               </p>
           </div>
       </article>

       <article class="teachers__item teacher">
           <a href="#" class="teacher__img" title="">
               <img src="assets/images/teacher-Lavrik.png" alt="" class="" title="Дмитрий Лаврик">
           </a>
           <div class="teacher__content">
               <h4 class="teacher__title">
                   <a href="#" title="">Дмитрий Лаврик</a>
               </h4>
               <p class="teacher__text">
                   Программист, каким-то чудом не потерявший умение объяснять материал на человеческом языке. С 2011 года под его руководством тысячи учеников прошли путь от новичков до успешных веб-программистов.
               </p>
           </div>
       </article>

       <article class="teachers__item teacher">
           <a href="#" class="teacher__img" title="">
               <img src="assets/images/teacher-Lavrik.png" alt="" class="" title="Дмитрий Лаврик">
           </a>
           <div class="teacher__content">
               <h4 class="teacher__title">
                   <a href="#" title="">Дмитрий Лаврик</a>
               </h4>
               <p class="teacher__text">
                   Программист, каким-то чудом не потерявший умение объяснять материал на человеческом языке. С 2011 года под его руководством тысячи учеников прошли путь от новичков до успешных веб-программистов.
                   Программист, каким-то чудом не потерявший умение объяснять материал на человеческом языке. С 2011 года под его руководством тысячи учеников прошли путь от новичков до успешных веб-программистов.
               </p>
           </div>
       </article>

       <article class="teachers__item teacher">
           <a href="#" class="teacher__img" title="">
               <img src="assets/images/teacher-Lavrik.png" alt="" class="" title="Дмитрий Лаврик">
           </a>
           <div class="teacher__content">
               <h4 class="teacher__title">
                   <a href="#" title="">Дмитрий Лаврик</a>
               </h4>
               <p class="teacher__text">
                   Программист, каким-то чудом не потерявший умение объяснять материал на человеческом языке. С 2011 года под его руководством тысячи учеников прошли путь от новичков до успешных веб-программистов.
               </p>
           </div>
       </article>

       <article class="teachers__item teacher">
           <a href="#" class="teacher__img" title="">
               <img src="assets/images/teacher-Lavrik.png" alt="" class="" title="Дмитрий Лаврик">
           </a>
           <div class="teacher__content">
               <h4 class="teacher__title">
                   <a href="#" title="">Дмитрий Лаврик</a>
               </h4>
               <p class="teacher__text">
                   Программист, каким-то чудом не потерявший умение объяснять материал на человеческом языке. С 2011 года под его руководством тысячи учеников прошли путь от новичков до успешных веб-программистов.
               </p>
           </div>
       </article>

       <article class="teachers__item teacher">
           <a href="#" class="teacher__img" title="">
               <img src="assets/images/teacher-Lavrik.png" alt="" class="" title="Дмитрий Лаврик">
           </a>
           <div class="teacher__content">
               <h4 class="teacher__title">
                   <a href="#" title="">Дмитрий Лаврик</a>
               </h4>
               <p class="teacher__text">
                   Программист, каким-то чудом не потерявший умение объяснять материал на человеческом языке. С 2011 года под его руководством тысячи учеников прошли путь от новичков до успешных веб-программистов.
               </p>
           </div>
       </article>

   </div>

</section>